* {
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    justify-content: center;
}

#navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    height: 35px;
    width: 80%;
    background-color: blueviolet;
    border: 1px solid black;
    border-radius: 20px;
    margin-top: 20px;
}

#logo {
    color: white;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
}

#navBar ul, a {
    list-style: none;
    display: flex; /* Arrange items in a row */
    text-decoration: none;
    list-style: none;
}

#navBar ul li {
    margin: 0 15px;  /* Spacing between menu items */
}

#navBar ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 8px 12px;
    transition: 0.3s;
}

#navBar ul li a:hover {
    background-color: #555;
    border-radius: 5px;
}

#navBar ul {
    flex-direction: row;
    text-align: center;
}

#word {
    margin-right: 5px;
}

#lang {
    border: 2px solid whitesmoke;
    padding: 4px;
    border-radius: 20px;
    color: whitesmoke;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

#globe {
    height: 16;
    width: 16;
    color: whitesmoke;
}

#leftPortion {
    display: flex;
    height: 100vmin;
    width: 100vmin;
    border: 2px solid black;
}

#rightPortion {
    height: 100vmin;
    width: 100vmin;
}

#devImg {
    height: 100vmin;
    width: 100vmin;
}

#firstCompletePortion {
    display: flex;
}

#firstCont, #secondCont {
    font-size: 70px;
    height: fit-content;
    width: 100px;
}
